/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

// Colors
$black: #000;
$white: #FFF;

$gray-1: #EFEFEF;
$gray-2: #C9C9C9;
$gray-3: #8C8B8B;
$gray-4: #939598;
$gray-5: #56565A;
$gray-6: #3F3F40;

// Fonts
$font-family-arial: Arial, sans-serif;
$font-family-georgia: Georgia, serif;
